*
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif

body
  width: 50%
  margin: auto // center horizontally
  text-align: center
  background-color: rgba(255, 255, 255, 0.97)


h1
  font-size: 4.65em
  margin-top: 100px
  margin-bottom: 10px
  color: rgba(0, 0, 0, 0.95)

#instructions
  color: grey
  margin-top: 5px
  margin-bottom: 150px

$nice-blue: rgb(33, 133, 208)
$nice-blue-faded: rgba(33, 133, 208, .1)

button
  cursor: pointer
  border-radius: 4px
  border: none
  font-size: 1em
  font-weight: bold
  margin: 0 3.5px 10.5px 0
  padding: 11px 21px

.ripple
  position: relative
  overflow: hidden
  cursor: pointer

.ripple-ink
  position: absolute
  background: #bdc3c7
  border-radius: 50%
  transform: scale(0)
  opacity: 0.4
  &.animate
    animation: fade-growing 0.3s linear

@keyframes fade-growing
  to
    transform: scale(2.5)
    opacity: 0


.game
  display: grid
  grid-template-columns: 4fr 1fr
  //grid-gap: 10px
  margin: auto

  .board
    border-collapse: collapse
    margin: auto  // center horizontally

    td
      width: var(--cell-size)
      height: var(--cell-size)
      border: 1px solid lightgrey

      text-align: center
      font-family: "Arial", sans-serif
      font-size: calc(var(--cell-size) * .65)
      font-weight: bold
      color: rgba(0, 0, 0, 0.9)



  .active-side
    --cell-size: 7vw

    .status .player
      font-weight: 800
      width: 1em // fixed width so it doesn't fiddle around
      display: inline-block


    .board
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) // rise it up a bit

      td
        //&.highlighted
        //  color: $nice-blue
        transition: all 0.2s ease
        &:hover
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) // rise it up a bit
        .ripple-ink
          background-color: $nice-blue

  &.game-over
    td
      color: rgba(0, 0, 0, .5)
      &.highlighted
        background-color: $nice-blue-faded
    .status .player
      color: $nice-blue

  &.game-over .active-side td,
  .active-side td.noninteractive
    cursor: default
    .ripple-ink
      display: none

  .history
    overflow: scroll
    --cell-size: 2vw
    .board
      margin-bottom: 15px
      cursor: pointer

#create-game
  margin-top: 150px

  button
    background-color: $nice-blue
    color: white

  label
    display: block
    color: $nice-blue
    font-weight: bold